@model IEnumerable<ProjectManagement.Models.Project>

@{
    ViewData["Title"] = "Project Management";
}
<div class="text-center">
    @if (TempData["msg"] != null)
    {
        <label class="text-danger">
            @TempData["msg"].ToString()
        </label>
    }
</div>

<p class="text-right">
    <a asp-action="Create" class="btn btn-outline-primary">Add new Project</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client)
                </td>
                <td>
                    @item.StartDate.ToString("dd MMM yyyy")
                </td>
                <td>
                    @item.EndDate.ToString("dd MMM yyyy")
                </td>

                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.ProjectID },new { @class="btn btn-primary" })

                </td>
            </tr>
        }
    </tbody>
</table>
